@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@import "./theme.pcss";



/* Custom Scrollbar for elegant feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-brand-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-accent);
}

/* Smooth scrolling behavior for html */
html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}